.kotak {
	background-color: #f6f6f6;
	padding: 2%;
	width: 100%;
	margin-bottom: 5%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.2);
}

/* ---- reset ---- */

body {
	margin: 0;
	font: normal 100% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	vertical-align: bottom;
}

.gradien {
	background: linear-gradient(
		40deg,
		rgba(111, 140, 252, 1) 8%,
		rgba(47, 200, 201, 1) 100%
	);
	color: white;
}
